<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="row">
        <div class="col-3">

            <ul>
                <li><a href="/AdminPanel/Users">Manage Users</a></li>
                <li><a href="/Products"> Manage Products</a></li>
                <li><a href="/AdminPanel/Orders"> Manage Orders</a></li>
                <li><a href="/AdminPanel/Statics"> Manage Statics</a></li>
                <li><a href="/Categories"> Manage Categories</a></li>
                <li><a href="/Subcategories"> Manage Subcategories</a></li>
                <li><a href="/AdminPanel/SiteSettings"> Site Settings</a></li>
                <li><a href="/AdminPanel/ViewSite">View Site</a></li>
                <li><a href="/AdminPanel/Logout">Logout</a></li>
            </ul>

        </div>
        <div class="col-9">
            @RenderBody()
        </div>
        
    </div>
</body>
</html>
