
@{
    ViewBag.Title = "Admin's control panel";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<h2>Admin's panel</h2>


@if (ViewBag.pm != null)
{
    <div class="alert alert-danger alert-dismissible">@ViewBag.pm</div>
}
