@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>About Me</p>
    <ul>
        <li>Created by: Crisiroid</li>
        <li>csiroid@gmail.com</li>
        <li><a href="https://github.com/crisiroid">Github/Crisiroid</a></li>
    </ul>
</main>