@model IEnumerable<MarketVerse.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

@if (ViewBag.pm != null)
{
    <div class="alert alert-danger alert-dismissible">@ViewBag.pm</div>
}

<main style="margin: 20px;">
    <h2>Latest products</h2>
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.Description</h6>
                <p class="card-text">Price: @item.Price</p>
                <a href="/Products/ShowProduct/@item.id" class="card-link">View Details</a>
            </div>
        </div>
    }
</main>