@model MarketVerse.Models.ProductWithContent
@{
    ViewBag.Title = "ShowProduct";
}

<main>
    <div class="card">
        <div class="card-header">
            Product Information
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Additional Details
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>

</main>

